.navbar {
    background-color: transparent;
}

.nav-link {
	color: white !important;
}

.top-nav-collapse {
  background-color: #222022;
}

.about {
	background-color: pink;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #222022;
  }
}

h1, h2, h3, h4, h5, h6 {
	color: #6ead3a;
}