/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 * {
  margin: 0;
  padding: 0;
 }

 body, html {
  font-family: 'Montserrat Alternates', serif;
  color: #ffca28;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #222022;
 }

.navbar-fixed {
  position: absolute;
  z-index:999999999;
  color: white;
}

.navbar-fixed ul li a{
  color: #ffca28;
  background-color: transparent;
  font-weight: 800;
}

.navbar-fixed ul li a:hover{
  color: #ffca28;
  border-bottom: 0.5px solid #ffca28;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

#main-parallax {
  background: url(../img/imgsmall1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.head h1 {
  font-weight: 800;
  font-size: 10vw;
  font-family: 'Montserrat Alternates', serif;
  margin-top: 22vh;
}

.head p {
  font-size: 20px;
  font-family: 'Montserrat Alternates', serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#about {
  color: #222022;
}

#about h5 {
  border-bottom: 1px solid #ffca28;
  border-bottom-width: 5px;
}

.icon-block .progress {
  height: 15px;
  margin: 0 0 0.5rem 0;
  /*background-color: #222022;*/
}

.icon-block .determinate {
  /*background-color: #ffca28;*/
}

.second-parallax {
  background: url(../img/imgsmall2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
}

.second-parallax h4{
  color: #ffca28;
  font-style: italic;
}

.third-parallax {
  background: url(../img/imgsmall4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
}

.projects .card a{
  color: #26a69a;
}

.btn-floating {
  background-color: transparent;
}

.btn-floating:hover {
  background-color: transparent;
}